In [27]:
import pandas as pd
import numpy as np
ecdc_iniziale=pd.read_csv(r'C:\Users\strag\Documents\GitHub\CovidAnalysis4CPDM\PROGETTO\ECDC dataset iniziale.csv')
ecdc_iniziale.head(30)

,YearWeekISO,ReportingCountry,Denominator,NumberDosesReceived,NumberDosesExported,FirstDose,FirstDoseRefused,SecondDose,DoseAdditional1,UnknownDose,Region,TargetGroup,Vaccine,Population
0,2020-W53,AT,8901064.0,61425.0,0.0,5282,NaN,0,0,0,AT,ALL,COM,8901064
1,2020-W53,AT,8901064.0,0.0,0.0,0,NaN,0,0,0,AT,ALL,MOD,8901064
2,2020-W53,AT,8901064.0,0.0,0.0,0,NaN,0,0,0,AT,ALL,JANSS,8901064
3,2020-W53,AT,8901064.0,0.0,0.0,0,NaN,0,0,0,AT,ALL,AZ,8901064
4,2020-W53,AT,8901064.0,0.0,0.0,1,NaN,0,0,0,AT,ALL,UNK,8901064
5,2020-W53,AT,435835.0,0.0,0.0,0,NaN,0,0,0,AT,Age0_4,JANSS,8901064
6,2020-W53,AT,435835.0,0.0,0.0,0,NaN,0,0,0,AT,Age0_4,AZ,8901064
7,2020-W53,AT,435835.0,0.0,0.0,0,NaN,0,0,0,AT,Age0_4,UNK,8901064
8,2020-W53,AT,435835.0,0.0,0.0,0,NaN,0,0,0,AT,Age0_4,MOD,8901064
9,2020-W53,AT,435835.0,61425.0,0.0,1,NaN,0,0,0,AT,Age0_4,COM,8901064
10,2020-W53,AT,421998.0,61425.0,0.0,0,NaN,0,0,0,AT,Age10_14,COM,8901064
11,2020-W53,AT,421998.0,0.0,0.0,0,NaN,0,0,0,AT,Age10_14,JANSS,8901064
12,2020-W53,AT,421998.0,0.0,0.0,0,NaN,0,0,0,AT,Age10_14,MOD,8901064
13,2020-W53,AT,421998.0,0.0,0.0,0,NaN,0,0,0,AT,Age10_14,UNK,8901064
14,2020-W53,AT,421998.0,0.0,0.0,0,NaN,0,0,0,AT,Age10_14,AZ,8901064
15,2020-W53,AT,259561.0,0.0,0.0,0,NaN,0,0,0,AT,Age15_17,AZ,8901064
16,2020-W53,AT,259561.0,0.0,0.0,0,NaN,0,0,0,AT,Age15_17,MOD,8901064
17,2020-W53,AT,259561.0,61425.0,0.0,5,NaN,0,0,0,AT,Age15_17,COM,8901064
18,2020-W53,AT,259561.0,0.0,0.0,0,NaN,0,0,0,AT,Age15_17,JANSS,8901064
19,2020-W53,AT,259561.0,0.0,0.0,0,NaN,0,0,0,AT,Age15_17,UNK,8901064
20,2020-W53,AT,696064.0,0.0,0.0,0,NaN,0,0,0,AT,Age18_24,MOD,8901064
21,2020-W53,AT,696064.0,0.0,0.0,0,NaN,0,0,0,AT,Age18_24,AZ,8901064
22,2020-W53,AT,696064.0,0.0,0.0,0,NaN,0,0,0,AT,Age18_24,JANSS,8901064
23,2020-W53,AT,696064.0,61425.0,0.0,88,NaN,0,0,0,AT,Age18_24,COM,8901064
24,2020-W53,AT,696064.0,0.0,0.0,0,NaN,0,0,0,AT,Age18_24,UNK,8901064
25,2020-W53,AT,3006228.0,0.0,0.0,0,NaN,0,0,0,AT,Age25_49,MOD,8901064
26,2020-W53,AT,3006228.0,61425.0,0.0,1310,NaN,0,0,0,AT,Age25_49,COM,8901064
27,2020-W53,AT,3006228.0,0.0,0.0,0,NaN,0,0,0,AT,Age25_49,JANSS,8901064
28,2020-W53,AT,3006228.0,0.0,0.0,0,NaN,0,0,0,AT,Age25_49,UNK,8901064
29,2020-W53,AT,3006228.0,0.0,0.0,0,NaN,0,0,0,AT,Age25_49,AZ,8901064

In [28]:
ecdc_iniziale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212916 entries, 0 to 212915
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   YearWeekISO          212916 non-null  object
 1   ReportingCountry     212916 non-null  object
 2   Denominator          122432 non-null  float64
 3   NumberDosesReceived  31519 non-null   float64
 4   NumberDosesExported  21682 non-null   float64
 5   FirstDose            212916 non-null  int64
 6   FirstDoseRefused     1434 non-null    float64
 7   SecondDose           212916 non-null  int64
 8   DoseAdditional1      212916 non-null  int64
 9   UnknownDose          212916 non-null  int64
 10  Region               212916 non-null  object
 11  TargetGroup          212916 non-null  object
 12  Vaccine              212916 non-null  object
 13  Population           212916 non-null  int64
dtypes: float64(4), int64(5), object(5)
memory usage: 22.7+ MB

In [30]:
ecdc_iniziale.columns

Index(['YearWeekISO', 'ReportingCountry', 'Denominator', 'NumberDosesReceived',
       'NumberDosesExported', 'FirstDose', 'FirstDoseRefused', 'SecondDose',
       'DoseAdditional1', 'UnknownDose', 'Region', 'TargetGroup', 'Vaccine',
       'Population'],
      dtype='object')

In [31]:
ecdc_iniziale.drop(['NumberDosesReceived','NumberDosesExported', 'FirstDoseRefused', 'ReportingCountry', 'Vaccine', 'Denominator'], axis=1, inplace=True)

In [32]:
ecdc_iniziale.head()

,YearWeekISO,FirstDose,SecondDose,DoseAdditional1,UnknownDose,Region,TargetGroup,Population
0,2020-W53,5282,0,0,0,AT,ALL,8901064
1,2020-W53,0,0,0,0,AT,ALL,8901064
2,2020-W53,0,0,0,0,AT,ALL,8901064
3,2020-W53,0,0,0,0,AT,ALL,8901064
4,2020-W53,1,0,0,0,AT,ALL,8901064

In [33]:
import plotly.graph_objs as go
import plotly.io as pio
import plotly.express as px

Voglio raggruppare le dosi somministrate per ciascun paese e vedere quali sono i paesi con il più alto tasso di vaccinazione!

In [34]:
#df=ecdc_iniziale.copy()
#df[df['ReportingCountry']=='IT'].head(30)
df=ecdc_iniziale.copy()
group=['ALL', 'Age<18']
df = df[df['TargetGroup'].isin(group)]
group=['IT']
df = df[df['Region'].isin(group)]
df['tot doses']= df['FirstDose']+df['SecondDose']+ df['DoseAdditional1']+df['UnknownDose']
df.head(30)

,YearWeekISO,FirstDose,SecondDose,DoseAdditional1,UnknownDose,Region,TargetGroup,Population,tot doses
132820,2020-W52,7221,2,0,0,IT,ALL,59641488,7223
132837,2020-W52,0,0,0,0,IT,Age<18,59641488,0
132860,2020-W53,117296,13,0,0,IT,ALL,59641488,117309
132867,2020-W53,11,0,0,0,IT,Age<18,59641488,11
132883,2021-W01,543957,34,0,0,IT,ALL,59641488,543991
132894,2021-W01,1,0,0,0,IT,ALL,59641488,1
132895,2021-W01,2,0,0,1,IT,ALL,59641488,3
132916,2021-W01,0,0,0,0,IT,Age<18,59641488,0
132917,2021-W01,0,0,0,0,IT,Age<18,59641488,0
132918,2021-W01,30,0,0,0,IT,Age<18,59641488,30
132925,2021-W02,0,0,0,0,IT,ALL,59641488,0
132936,2021-W02,536788,3155,0,0,IT,ALL,59641488,539943
132945,2021-W02,2343,0,0,0,IT,ALL,59641488,2343
132977,2021-W02,0,0,0,0,IT,Age<18,59641488,0
132978,2021-W02,0,0,0,0,IT,Age<18,59641488,0
132979,2021-W02,89,0,0,0,IT,Age<18,59641488,89
132993,2021-W03,121567,108759,0,0,IT,ALL,59641488,230326
132994,2021-W03,13248,0,0,7,IT,ALL,59641488,13255
133020,2021-W03,0,0,0,0,IT,ALL,59641488,0
133041,2021-W03,0,0,0,0,IT,Age<18,59641488,0
133042,2021-W03,24,3,0,0,IT,Age<18,59641488,27
133043,2021-W03,6,0,0,0,IT,Age<18,59641488,6
133053,2021-W04,1,0,0,0,IT,ALL,59641488,1
133054,2021-W04,27804,529163,0,0,IT,ALL,59641488,556967
133055,2021-W04,4116,0,0,43,IT,ALL,59641488,4159
133104,2021-W04,0,0,0,0,IT,Age<18,59641488,0
133105,2021-W04,34,30,0,0,IT,Age<18,59641488,64
133106,2021-W04,1,0,0,0,IT,Age<18,59641488,1
133119,2021-W05,10478,0,0,21,IT,ALL,59641488,10499
133125,2021-W05,64421,532290,0,0,IT,ALL,59641488,596711

In [38]:
df[['Year', 'Week']]=df['YearWeekISO'].str.split('-', expand=True)
df.tail(30)

,YearWeekISO,FirstDose,SecondDose,DoseAdditional1,UnknownDose,Region,TargetGroup,Population,tot doses,Year,Week
138070,2021-W49,101756,32128,1757446,0,IT,ALL,59641488,1891330,2021,W49
138080,2021-W49,0,0,1,0,IT,ALL,59641488,1,2021,W49
138122,2021-W49,28154,3528,509,0,IT,Age<18,59641488,32191,2021,W49
138123,2021-W49,1,0,0,0,IT,Age<18,59641488,1,2021,W49
138124,2021-W49,0,0,0,0,IT,Age<18,59641488,0,2021,W49
138125,2021-W49,37152,18442,1056,0,IT,Age<18,59641488,56650,2021,W49
138134,2021-W50,59372,86991,1085212,0,IT,ALL,59641488,1231575,2021,W50
138194,2021-W50,91469,36157,2159547,0,IT,ALL,59641488,2287173,2021,W50
138195,2021-W50,665,0,9,4,IT,ALL,59641488,678,2021,W50
138197,2021-W50,0,4,1,0,IT,ALL,59641488,5,2021,W50
138222,2021-W50,0,0,0,0,IT,Age<18,59641488,0,2021,W50
138223,2021-W50,105237,23696,1719,0,IT,Age<18,59641488,130652,2021,W50
138224,2021-W50,0,0,0,0,IT,Age<18,59641488,0,2021,W50
138225,2021-W50,19907,4111,883,0,IT,Age<18,59641488,24901,2021,W50
138233,2021-W51,31430,62923,688157,0,IT,ALL,59641488,782510,2021,W51
138241,2021-W51,1,0,3,0,IT,ALL,59641488,4,2021,W51
138242,2021-W51,49886,34241,1573625,0,IT,ALL,59641488,1657752,2021,W51
138243,2021-W51,486,0,5,0,IT,ALL,59641488,491,2021,W51
138318,2021-W51,0,0,0,0,IT,Age<18,59641488,0,2021,W51
138319,2021-W51,1,0,0,0,IT,Age<18,59641488,1,2021,W51
138320,2021-W51,110168,22853,1826,0,IT,Age<18,59641488,134847,2021,W51
138321,2021-W51,10490,5013,924,0,IT,Age<18,59641488,16427,2021,W51
138354,2021-W52,27449,51211,618770,0,IT,ALL,59641488,697430,2021,W52
138361,2021-W52,181,0,1,0,IT,ALL,59641488,182,2021,W52
138364,2021-W52,0,4,0,0,IT,ALL,59641488,4,2021,W52
138365,2021-W52,41356,43258,1405631,0,IT,ALL,59641488,1490245,2021,W52
138408,2021-W52,146648,23348,17350,0,IT,Age<18,59641488,187346,2021,W52
138409,2021-W52,8692,9581,2734,0,IT,Age<18,59641488,21007,2021,W52
138410,2021-W52,0,0,0,0,IT,Age<18,59641488,0,2021,W52
138411,2021-W52,0,0,0,0,IT,Age<18,59641488,0,2021,W52

In [37]:
df.groupby(['Year', 'Region'])['tot doses'].sum().tail(30)

Year  Region
2020  IT           124543
2021  IT        109877005
Name: tot doses, dtype: int64